.fullScreen {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.markdown {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  .control {
    height: 50px;
    line-height: 50px;
    border: solid 1px #e2e2e2;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .title {
      font-size: 14px;
      font-weight: bold;
      width: 100px;
      left: 10px;
      position: relative;
    }
    .oparea {
      position: absolute;
      left: 150px;
      top: 0;
      bottom: 0;
      right: 100px;
      text-align: right;
    }
    .btn {
      height: 50px;
      line-height: 50px;
      position: absolute;
      top: 0;
      right: 10px;
    }
  }
  .edit {
    flex: 1;
    border: solid 1px #eee;
    overflow: auto;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    resize: none;
    padding: 5px;
  }

  .preview {
    flex: 1;
    border: solid 1px #eee;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
}
